
.card-container > * {
    padding: 0.75rem 0;
}

.image-caption {
    font-weight: bold;
    margin-top: 0.125rem;
    font-size: 0.75rem;
}

.shadow {
    box-shadow: 1px 1px 5px black;
}

.jiggen-links {
    margin-top: 1rem;
    display: flex;
}

.jiggen-links a {
    display: flex;
    text-decoration: none;
    height: 2.25rem;
}
.jiggen-links a+a {
    margin-left: 0.2rem;
}

table {
    width: 100%;
    max-width: 30rem;
    align-self: center;
}
table, td {
    padding-left: 0.5rem;
    border: 1px solid darkslategrey;
    /* border-radius: 10px; */
    border-collapse: collapse;
    
    background: rgb(0, 114, 158);
    color: white;
    /* font-weight: bold; */
}

td:last-child {
    text-align: center;
}
