
main {
    align-items: initial;
}

.card-container {
    color: black;

    /* background: lightblue; */
    background: radial-gradient(200px, rgb(229, 248, 255), rgb(217, 232, 239));

    /* background: radial-gradient(200px, #3f7927, #004c00); */
    border: 1px solid #87d4b0;
    box-shadow: 1px 1px 10px black;
    
    min-width: 95%;
    max-width: 34vw;

    margin-bottom: 1rem;
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    margin: 1rem 0.5rem 0;
    padding: 1rem;
}

.card-container:target {
    animation: expand-card-height 0.3s ease-out 0s forwards;
}

.modal-only-content {
    display: none;
}

.card-container .card-container-content .card-title {
    width: 100%;
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 0.25rem;
}

.card-container-content .card-title h1 {
    font-size: 1.75rem;
    margin: 0 0.3rem 0;
    text-align: center;
}

.card-container-controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.1875rem;
}
.card-container-controls a+a {
    margin-left: 0.1875rem;
}

.card-container-large .card-container-content .card-title {
    width: 100%;
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.fixed-width-image {
    max-width: unset;
}

.gameplay-image {
    max-width: 100%;
    margin: 1px;
    
    box-shadow: 1px 1px 2px gray;
}

.game-card-body {
    padding: 0.5rem;
}

.unordered-list {
    list-style-type: circle;
    padding: 0 1.5rem 0 1rem;
}

.unordered-list li {
    line-height: 1.5rem;
}
.unordered-list li em {
    font-weight: bold;
}

.image-link {
    cursor: pointer;
}

@keyframes expand-card-height {
    from {
        max-height: 200px;
    }
    to {
        max-height: 1000px;
    }
}