<div id="{{tag}}" class="expandable">
    <a class="not-expanded" href="#{{tag}}">
        <div>
            <div class="expandable-content">
                {{{content}}}
                <div class="shadow-overlay"></div>
            </div>
            <div class="bottom-expandable-section">click to expand</div>
        </div>
    </a>
    <a class="expanded" href="#">
        <div>
            <div class="expandable-content">
                {{{content}}}
                <div class="shadow-overlay"></div>
            </div>
            <div class="bottom-expandable-section">click to collapse</div>
        </div>
    </a>
</div>
