<footer>
    <a href='https://github.com/EoinF'>
        github
    </a>
    <a href='https://twitter.com/outterest'>
        twitter
    </a>
    <a href='https://www.linkedin.com/in/eoinf'>
        linkedIn
    </a>
    <a href='https://www.youtube.com/user/outterest'>
        youtube
    </a>
</footer>