
html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#app-container {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
}

* {
    box-sizing: border-box;
}


.flex-cards {
    flex: 1;
    min-height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: start;
    justify-items: center;
    justify-content: center;
}

.grid-cards {
    flex: 1;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}


.two-per-row {
    grid-template-columns: 1fr;
}

.two-per-row > *:nth-child(even) {
    justify-self: center;
}

.two-per-row > *:nth-child(odd) {
    justify-self: center;
}

.two-per-row > *:last-child:nth-child(odd) {
    grid-column: 1 / span 1;
}

.vertical-aligned {
    align-items: center;
}

.card-container-medium {
    color: black;

    /* background: lightblue; */
    background: radial-gradient(200px, rgb(229, 248, 255), rgb(217, 232, 239));

    /* background: radial-gradient(200px, #3f7927, #004c00); */
    border: 1px solid #87d4b0;
    box-shadow: 1px 1px 10px black;
    
    min-width: 95%;
    
    min-height: 12rem; 
    height: fit-content;

    margin-bottom: 1rem;
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    margin: 1rem;
    padding: 1rem;
}

.card-container-large {
    color: black;

    /* background: lightblue; */
    background: radial-gradient(200px, rgb(229, 248, 255), rgb(217, 232, 239));

    /* background: radial-gradient(200px, #3f7927, #004c00); */
    border: 1px solid #87d4b0;
    box-shadow: 1px 1px 10px black;
    
    min-width: 95%;
    
    max-width: 40vw;
    height: fit-content;

    margin-bottom: 1rem;
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    margin: 1rem;
    padding: 1rem;
}


.resizable-video-wrapper {
    /*
        Solution from http://embedresponsively.com/
    */
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden; 
    max-width: 100%;
    animation: loading-spinner 1s linear 1s alternate infinite;
    /* box-shadow: 1px 1px 10px black; */
}
.resizable-video-wrapper iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

button {
    font-weight: bold;
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    color: white;
    background: rgb(0, 114, 158);
    cursor: hand;
    white-space: nowrap;
}
button.secondary {
    color: rgb(0, 114, 158);
    background: white;
}


.text-image-group {
    display: flex;
    flex-flow: row nowrap;
}

.text-image-group .text-section {
    flex: 1;
}
.text-image-group .image-section {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 65%;
    margin-left: 0.75rem;
}

.text-image-group .image-section img {
    max-width: 100%;
}

.card-title {
    display: flex;
    align-items: center;
}
.card-title h1 {
    margin-left: 0.3rem;
}

.card-title-split {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-title-split h1 {
    font-size: 2rem;
    min-height: 3rem;
    margin: 0.5rem 0rem;
}
.card-title-split h2 {
    font-size: 1rem;
    font-style: italic;
    margin: 0.75rem 0;
}
.card-description h2 {
    min-height: 1rem;
}

.link {
    font-weight: bold;
    color: #763597;
    text-decoration: none;
}

.wrapper-link {
    flex: 1;
    text-decoration: none;
    color: initial;
}

.github-link {
    background: white;
    box-sizing: border-box;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    max-height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

@keyframes loading-spinner {
    from {
        background: lightblue;
        transform: rotate(0);
    }
    to {
        background: cyan;
        tranform: rotate(360deg);
    }
}


.expandable:not(:target) .expanded{
    display: none;
}

.expandable:target .not-expanded {
    display: none;
}

.expanded, .not-expanded {
    display: flex;
    text-decoration: none;
}
.expanded {
    height: fit-content;
}
/*
    Shadow overlay
*/
.shadow-overlay {
    bottom: 0;
    width: 100%;
    height: 4rem;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.expanded .shadow-overlay {
    height: 2rem;
}
.not-expanded .shadow-overlay {
    height: 4rem;
}

.expandable-content {
    z-index: 1;
    position: relative;
}

/*
    Expandable content size
*/
.not-expanded .expandable-content {
    max-height: 40vh;
    overflow: hidden;
}

.bottom-expandable-section {
    color: white;
    background: black;
    width: 100%;
    text-align: center;
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
}

.expandable-image {
    width: 100%;
    height: auto;
}

.unstyled-link {
    text-decoration: none; 
    color: black;
}
