@media (max-width: 700px) {
    .text-image-group  {
        display:block;
    }
    .text-image-group div.image-section {
        max-width: 100%;
        margin: auto;
    }
}

.viewport-small, .viewport-medium, .viewport-large, .viewport-huge {
    display: none;
}

@media(max-width: 400px) {
    .viewport-small {
        display: block;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    .viewport-medium {
        display: block;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .viewport-large {
        display: block;
    }
}

@media (min-width: 801px) {
    .viewport-huge {
        display: block;
    }
}

@media (min-width: 1030px) {
    .card-container-large {
        min-width: 1000px;
    }
}

@media(min-width: 500px) {
    .not-expanded .expandable-content {
        max-height: 50vh;
        overflow: hidden;
    }
}

@media (min-width: 620px) {
    .card-container-medium {
        min-width: initial;
        width: 619px;
    }
}