
nav {
    position: sticky;
    top: 0;
    font-size: 1.75rem;
    background: rgb(0, 112, 177);
    width: 100%;
    box-shadow: 1px 1px 5px black;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin: 0;
    padding: 0.2rem 0 0.2rem 4rem;
}

nav li {
    padding: 0.2rem;
    margin-right: 1.5rem;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

@media (max-width: 450px) {
    nav {
        font-size: 1.3rem;
    }
    nav li {
        margin: 0;
    }
    nav ul {
        justify-content: space-around;
         /* space-evenly doesn't work in edge */
        justify-content: space-evenly;
        padding: 0.2rem 0;
    }
}
